<!--导航 开始-->
<!--左边菜单 开始-->		
<div class="u-leftnav fl">
	<a class="u-close-leftnav" href="javascript:;"><i class="iconfont icon-close"></i></a>
	<ul class="u-ul">
		
		<li>
			<span id="{$controller}">账户设置</span>
		
			<ul>
				
				<li class="{if condition="($controller eq 'user') AND ($action eq 'index')"}active{/if}"><a href="{:url('user/index')}"><i class="iconfont icon-wode"></i> 基本信息 <em class="iconfont icon-you"></em></a></li>

				
				<li class="{if condition="($controller eq 'user') AND ($action eq 'safe')"}active{/if}"><a href="{:url('user/safe')}"><i class="iconfont icon-anquan"></i> 安全设置 <em class="iconfont icon-you"></em></a></li>
				 
				
				<!-- <li><a href="#"><i class="iconfont icon-bangding"></i> 账号绑定 <em class="iconfont icon-you"></em></a></li>
				<li><a href="/user/index/receiptaddress.html"><i class="iconfont icon-location"></i> 收货地址 <em class="iconfont icon-you"></em></a></li>
				<li><a href="/user/index/msgmanagement.html?id=1"><i class="iconfont icon-xiaoxi1"></i> 消息管理 <em class="iconfont icon-you"></em></a></li> --> 
			</ul>
		</li>
		
		
		<!-- <li>
			<span>我的买房</span>
		
			<ul>
				
				<li><a href="/user/favorites/fhouse.html"><i class="iconfont icon-shoucang"></i> 我的收藏 <em class="iconfont icon-you"></em></a></li>
				 
				
				<li><a href="/user/favorites/hhouse.html"><i class="iconfont icon-p-see"></i> 浏览历史 <em class="iconfont icon-you"></em></a></li>
				
			</ul>
		</li>
		<li>
			<span>我的装修</span>
		
			<ul>
				
				<li><a href="/user/index/qualitycard.html"><i class="iconfont icon-qia"></i> 质保卡 <em class="iconfont icon-you"></em></a></li>
										
				
				<li><a href="/user/index/projects.html"><i class="iconfont icon-gongcheng"></i> 工程订单 <em class="iconfont icon-you"></em></a></li>
				
				
				<li><a href="/user/index/design.html"><i class="iconfont icon-sheji"></i> 免费设计 <em class="iconfont icon-you"></em></a></li>
				 
				
				<li><a href="/user/index/quote.html"><i class="iconfont icon-jiage"></i> 免费报价 <em class="iconfont icon-you"></em></a></li>
				 
				
				<li><a href="/user/index/shoucang.html"><i class="iconfont icon-shoucang"></i> 我的收藏 <em class="iconfont icon-you"></em></a></li>
				 
				
				<li><a href="/user/favorites/hdecoration.html"><i class="iconfont icon-p-see"></i> 浏览历史 <em class="iconfont icon-you"></em></a></li>
				 
			</ul>
		</li>
		<li>
			<span>我的租房</span>
		
			<ul>
				
				<li><a href="#"><i class="iconfont icon-shoucang"></i> 我的收藏 <em class="iconfont icon-you"></em></a></li>
				 
				
				<li><a href="#"><i class="iconfont icon-p-see"></i> 浏览历史 <em class="iconfont icon-you"></em></a></li>
				 
			</ul>
		</li>
		<li>
			<span>我的商城</span>
		
			<ul>
				
				<li><a href="/user/index/mallorder.html"><i class="iconfont icon-dingdan"></i> 商品订单 <em class="iconfont icon-you"></em></a></li>
				
				
				<li><a href="#"><i class="iconfont icon-gouwuche1"></i> 购物车 <em class="iconfont icon-you"></em></a></li>
										
				
				<li><a href="#"><i class="iconfont icon-jifen"></i> 我的积分 <em class="iconfont icon-you"></em></a></li>
				
				
				<li><a href="#"><i class="iconfont icon-shoucang"></i> 商品收藏 <em class="iconfont icon-you"></em></a></li>
				 
				
				<li><a href="#"><i class="iconfont icon-dianpushoucang"></i> 店铺收藏 <em class="iconfont icon-you"></em></a></li>
				
				
				<li><a href="#"><i class="iconfont icon-p-see"></i> 浏览历史 <em class="iconfont icon-you"></em></a></li>
				
			</ul>
		</li>
		<li>
			<span>工人超市</span>
		
			<ul>
				
				<li><a href="#"><i class="iconfont icon-yuyue"></i> 预约历史 <em class="iconfont icon-you"></em></a></li>
				 
				
				<li><a href="#"><i class="iconfont icon-shoucang"></i> 我的收藏 <em class="iconfont icon-you"></em></a></li>
				 
				
				<li><a href="#"><i class="iconfont icon-p-see"></i> 浏览历史 <em class="iconfont icon-you"></em></a></li>
										
			</ul>
		</li> -->

	</ul>
</div>
<!--左边菜单 结束-->
