{include file="common/sheader"/}
	{include file="common/header_menu"/}
    <div class="c-main c-house">
        <div class="house-top">   
          <div class="c-content house-content clearfix">
                <div class="house-cont active-cont">
                    <h3 class="house-title">{$title}</h3>
                    <p class="house-price1"><em>{$keywords}</em></p>
                    <p class="house-features h_em">{$description}</p>
                </div>

          </div>
        </div>
        <div class="c-content">
          <div class="house-huxing clearfix">
            {$content}
          </div>
        </div>
    </div>
{include file="common/sfooter"/}