{include file="common/sheader"/}
	{include file="common/header_menu"/}

	<div class="container c-main" >
		<!-- <section>
		    <div class="section_social workflow-list relative cf">
		      <ul>
		        <li> <a class="workflow-tit" href="javascript:;" title="装修之主体整改"><i class="i1"></i>
		          <p>主体整改</p>
		          </a><i class="ico1"></i>
		          <div class="workflow-step ws-1">
		            <pre></pre>
		            <a href="article/article.php?id=46" title="装修之主体整改">主体整改</a><em></em><a href="article/article.php?id=47" title="装修之拆出">拆出</a><em></em><a href="article/article.php?id=48" title="装修之搬运">搬运</a><em></em></div>
		        </li>
		        <li><a class="workflow-tit" href="javascript:;" title="装修之材料进场"><i class="i2"></i>
		          <p>材料进场</p>
		          </a><i class="ico1"></i>
		          <div class="workflow-step ws-2">
		            <pre></pre>
		            <a href="article/article.php?id=49" title="装修之水电铺设">水电铺设</a><em></em><a href="article/article.php?id=50" title="装修之水电开槽">水电开槽</a><em></em><a href="article/article.php?id=51" title="装修之水电穿管">水电穿管</a><em></em><a href="article/article.php?id=52" title="装修之水电穿线">水电穿线</a><em></em><a href="article/article.php?id=53" title="装修之弱电搭设">弱电搭设</a><em></em></div>
		        </li>
		        <li><a class="workflow-tit" href="javascript:;" title="装修之水电作业"><i class="i3"></i>
		          <p>水电作业</p>
		          </a><i class="ico1"></i>
		          <div class="workflow-step ws-3">
		            <pre></pre>
		            <a href="article/article.php?id=54" title="装修之防水工程">防水工程</a><em></em><a href="article/article.php?id=55" title="装修之回填工程">回填工程</a><em></em><a href="article/article.php?id=56" title="装修之包管贴砖">包管贴砖</a><em></em><a href="article/article.php?id=57" title="装修之二次防水">二次防水</a><em></em><a href="article/article.php?id=58" title="装修之补现场">补现场</a><em></em></div>
		        </li>
		        <li><a class="workflow-tit" href="javascript:;" title="装修之防水作业"><i class="i4"></i>
		          <p>防水作业</p>
		          </a><i class="ico1"></i>
		          <div class="workflow-step ws-4">
		            <pre></pre>
		            <a href="article/article.php?id=59" title="装修之吊顶工程">吊顶工程</a><em></em><a href="article/article.php?id=60" title="装修之墙体工程">墙体工程</a><em></em><a href="article/article.php?id=61" title="装修之木局打造">木局打造</a><em></em></div>
		        </li>
		        <li><a class="workflow-tit" href="javascript:;" title="装修之泥工作业"><i class="i5"></i>
		          <p>泥工作业</p>
		          </a><i class="ico1"></i>
		          <div class="workflow-step ws-5">
		            <pre></pre>
		            <a href="article/article.php?id=62" title="装修之石膏作业">石膏作业</a><em></em><a href="article/article.php?id=63" title="装修之乳胶漆作业">乳胶漆作业</a><em></em><a href="article/article.php?id=64" title="装修之贴集线缝">贴集线缝</a><em></em><a href="article/article.php?id=65" title="装修之一次批刮">一次批刮</a><em></em><a href="article/article.php?id=66" title="装修之二次批刮">二次批刮</a><em></em><a href="article/article.php?id=67" title="装修之子砂磨平">子砂磨平</a><em></em></div>
		        </li>
		        <li><a class="workflow-tit" href="javascript:;" title="装修之木工作业"><i class="i6"></i>
		          <p>木工作业</p>
		          </a><i class="ico1"></i>
		          <div class="workflow-step ws-6">
		            <pre></pre>
		            <a href="article/article.php?id=68" title="装修之门体">门体</a><em></em><a href="article/article.php?id=69" title="装修之衣柜">衣柜</a><em></em><a href="article/article.php?id=70" title="装修之橱柜">橱柜</a><em></em><a href="article/article.php?id=71" title="装修之洁具">洁具</a><em></em><a href="article/article.php?id=72" title="装修之灯具">灯具</a><em></em><a href="article/article.php?id=73" title="装修之地板">地板</a><em></em></div>
		        </li>
		        <li><a class="workflow-tit" href="javascript:;" title="装修之漆工作业"><i class="i7"></i>
		          <p>漆工作业</p>
		          </a>
		          <div class="workflow-step ws-7">
		            <pre></pre>

		            <a href="article/article.php?id=74" title="装修之卫生清理">卫生清理</a><em></em><a href="article/article.php?id=75" title="装修之家具进场">家具进场</a><em></em><a href="article/article.php?id=76" title="装修之加点进场">加点进场</a><em></em></div>
		        </li>
		      </ul>
		    </div>
	  	</section> -->
	  	<section>
	  		<div style="width: 100%;margin: 0 auto;">
				{notempty name="adList14"}
					{volist name="adList14" id="vo"}
					<img src="__PUBLIC__{$vo.pic}"  width="100%"; alt="{$sys.name}">
					{/volist}
				{/notempty}

	  		</div>
	  	</section>	

	  	<section>
			<div class="blocktitle2 cf">
				<h2>我家装修多少钱</h2>
				<h3>10秒钟快速获得报价</h3>
			</div>
			<div class="budget cf">
				<div class="b-cont-box">
					<div class="c-cont-boxes form-wrapper" style="">
						<h3>免费报价</h3>
						<form class="form-wrapper" id="Form" method="POST">
							<div class="c-cont-input clearfix">
								<label class="c-cont-label fl">房屋面积：</label>
								<i>㎡</i>
								<input class="c-free-input fl" type="tel" name="area" onkeyup="value=value.replace(/[^\d]/g,'')" placeholder="您房屋面积" required>
								<span class="c-box-warning" id="area"></span>
							</div>
							<div class="c-cont-input clearfix">
								<label class="c-cont-label fl">装修情况：</label>
								<select class="c-free-input c-free-input-1-2 fl" name="room" required>
										<option value="0" selected >0室</option>
										<option value="1" selected >1室</option>
										<option value="2">2室</option>
										<option value="3">3室</option>
										<option value="4">4室</option>
										<option value="5">5室</option>
										<option value="6">6室</option>
										<option value="7">7室</option>
										<option value="8">6室</option>
										<option value="9">9室</option>
										<option value="10">10室</option>
								</select>

								<select class="c-free-input c-free-input-1-2 fr" name="level" required>
										<option value="1" >经济型</option>
										<option value="2" selected>中档型</option>
										<option value="3">高档型</option>
								</select>
								
							</div>
							<div class="c-cont-input clearfix">
								<label class="c-cont-label fl">您的称呼：</label>
								<input class="c-free-input fl" type="text" name="name" placeholder="您的称呼" required>
								<span class="c-box-warning" ></span>
							</div>
							<div class="c-cont-input clearfix">
								<label class="c-cont-label fl">手机号码：</label>
								<input class="c-free-input fl" type="tel" onkeyup="this.value=this.value.replace(/\D/g,'')" name="mobile"  placeholder="手机号"  required >
								<span class="c-box-warning" ></span>
							</div>
							<div class="c-cont-input clearfix">
								<label class="c-cont-label fl">验证码：</label>
								<input class="c-free-input c-free-input-1-2 fl" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" name="code" placeholder="验证码"  required>
								<span class="c-box-warning" id="bj_code"></span>
								<input class="c-free-input c-free-input-1-2 mbtn fr" disabled type="button" id="codebut" value="获取验证码">
							</div>
							<div class="c-cont-input option-wrapper clearfix">
								<input class="mbtn bj_btn w-mbtn"  type="submit" value="提交">
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>

		<section >
			<div class="section-service relative cf">
				<div class="service-box">
					<ul class="service-list">
					{notempty name="serviceList"}
						{volist name="serviceList" id="vo"}
						<li class="o">
							<a href="#">
								<div class="service-item service-item-1">
									<span class="quality-circle"><em class="iconfont {$vo.icon}" hover-class="iconfont {$vo.icon_hover}"></em></span>
								</div>
								<div class="service-item service-item-2">
									<h2 class="title">{$vo.title}</h2>
									<h2 class="title title-en">{$vo.title_en}</h2>
									<p>{$vo.content}</p>
								</div>
							</a>
						</li>
						{/volist}
					{/notempty}
					</ul>
					<div class="service-comment">
						<div class="top-title">业主评价</div>
						<ul>
							{notempty name="commentList"}
								{volist name="commentList" id="vo"}
								<li class="o">
									<a>
										<div class="thumb"><img src="__PUBLIC__/{$vo.thumb}" ></div>
										<div class="caption">
											<h2>{$vo.title}</h2>
											<p>{$vo.content}</p>
										</div>
										
									</a>
								</li>
								{/volist}
							{/notempty}
						</ul>
					</div>
				</div>
			</div>
		</section>
	</div>



{include file="common/sfooter"/}